<div>
  <table>
    <thead>
      <th>id</th>
      <th>content</th>
      <th>actions</th>
    </thead>
    <tr *ngFor="let message of messages">
      <td>{{message.id}}</td>
      <td>{{message.content}}</td>
      <td><button (click)="deleteMessage(message)">Delete</button></td>
    </tr>
  </table>

  <!-- <table>
    <thead>
      <th>message</th>
    </thead>
    <tr *ngFor="let d of message">
      <td>{{message}}</td>
    </tr>
  </table> -->
  <!-- <h3>Subscribing to the webosckets</h3>
  <input type="text" id="content-websocket" #conen>
  <button (click)="subscribeMe(content.value)">Send Message thorugh ActionCable</button> -->


  <h3>Create Message</h3>
  <label for="content-input">Content:</label>
  <input type="text" id="content-input" #content>
  <button (click)="subscribeMe(content.value)">Add</button>

</div>