.message-box{
    height: 250px;
    border: 5px solid gray;
    overflow: scroll;
    padding: 10px 24px;
    position: absolute;
    border: 0;
    width: 900px;
}
.text-right{
    text-align: right;
}