<div>
  <div id="testing">
    <table>
      <thead>
        <th>id</th>
        <th>content</th>s
        <th>actions</th>
      </thead>
      <tr *ngFor="let message of messages">
        <td>{{message.id}}</td>
        <td>{{message.content}}</td>
        <td><button (click)="deleteMessage(message)">Delete</button></td>
      </tr>
    </table>
  </div>

  <h3>Create Message</h3>
  <label for="content-input">Content:</label>
  <input type="text" id="content-input" #content>
  <button (click)="subscribeMe(content.value)">Add</button>
</div>